
@{
    ViewData["Title"] = "EmptyCart";
    Layout = "~/Views/Shared/_CheckOutView.cshtml";
}

<div class="container">
    <center>
        <img src="https://iticsystem.com/img/empty-cart.png" />
        <br />
        <br />
        <div class="book_now_button">
            <a asp-controller="Home" asp-action="Index">Continue Booking</a>
        </div>
    </center>
</div>
<br/>
<br/>

<hr />

